// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$subscribe-background: #7F6B89;
$subscribe-color: #FFF;

$border-color: #7F6B89;
.subscribe {
  padding: 20px;
  margin: 0px auto 80px auto;
  /*max-width: 400px;*/
  border-top: 20px solid $border-color;
  border-bottom: 10px solid $border-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  h3 {
    text-align: center;
    font-size: 22px;
  }

  p, li {
    font-size: 18px;
  }

  label {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
    flex: 0;
  }

  input, label {
    font-size: 18px;
  }

  input {
    flex: 1;
  }

  .actions {
    display: flex;

    .fields {
      flex: 1;
      margin-right: 20px;

      .field {
        display: flex;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  input[type="submit"] {
    background-color: $subscribe-background;
    color: $subscribe-color;
    font-size: 28px;
    box-sizing: border-box;
    padding: 0 70px;
    text-align: center;
    font-weight: bold;
    flex: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
}

.content {
  font-size: 24px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  margin-top: 100px;
}

.post {
  .post-content {
    .right-image {
      font-size: 14px;
      text-transform: uppercase;
      float: right;
      margin: 0 20px 20px 0;
      text-align: center;

      img {
        max-width: 200px;
      }
    }

    .flex-table {
      display: flex;
      text-align: center;
      font-size: 14px;

      .gist-data {
        max-height: 600px;
      }

      img {
        object-fit: contain;
      }

      > * {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
