// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$subscribe-background: #7F6B89;
$subscribe-color: #FFF;

$border-color: #2F3C56;
.subscribe {
  padding: 20px;
  margin: 0px auto 80px auto;
  max-width: 400px;
  border-top: 20px solid $border-color;
  border-bottom: 10px solid $border-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  h3 {
    text-align: center;
    font-size: 18px;
  }

  label {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
  }

  input, label {
    font-size: 18px;
  }

  input {
    max-width: 150px;
  }

  input[type="submit"] {
    float: right;
    background-color: $subscribe-background;
    color: $subscribe-color;
    font-size: 28px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    height: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }

  .field {
    margin-bottom: 10px;
  }
}

.content {
  font-size: 24px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  margin-top: 100px;
}
